@model string

<div class="modal-overlay">
    <div id="errormodal" class="gackomodal">
        <img src="https://image.flaticon.com/icons/svg/752/752755.svg" width="44" height="38" />
        <span id="errormodal_title" class="title">BŁĄD</span>
        <p id="errormodal_message">@Model</p>
        <div class="button bttnerror">ZAMKNIJ</div>
    </div>
</div>