<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BBDProject.Management.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/uikit.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/errormodal.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/uikit.min.js" asp-append-version="true"></script>
    <script src="~/js/uikit-icons.min.js" asp-append-version="true"></script>
    <script src="~/js/errormodal.js" asp-append-version="true"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BBDProject.Management.WebApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
                    <ul class="navbar-nav">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("Moderator"))
                                {
                                    <li class="nav-item uk-navbar-right">
                                        <a class="uk-margin-right" style="color: royalBlue" asp-controller="Forum" asp-action="MainPage" uk-tooltip="title: Forum; pos: bottom-left"><span style="color: royalBlue" uk-icon="icon:comments"></span></a>
                                    </li>
                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item uk-navbar-right">
                                        <a class="uk-margin-right" style="color: royalBlue" asp-controller="EmployeeManagement" asp-action="Employees" uk-tooltip="title: Pracownicy; pos: bottom-left">P</a>
                                    </li>
                                }
                                <li class="nav-item uk-navbar-right">
                                    <a class="uk-margin-right" style="color: royalBlue" asp-controller="UserManagement" asp-action="Users" uk-tooltip="title: Użytkownicy; pos: bottom-left"><span style="color: royalBlue" uk-icon="icon:users"></span></a>
                                </li>
                                <li class="nav-item uk-navbar-right">
                                    <a class="uk-margin-right" style="color: royalBlue" asp-controller="User" asp-action="Logout" uk-tooltip="title: Wyloguj; pos: bottom-left"><span style="color: royalBlue" uk-icon="icon:sign-out"></span></a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="modal-overlay">
        <div id="errormodal" class="gackomodal hide" hidden>
            <img src="~/images/error.svg" width="64" height="64" />
            <span id="errormodal_title" class="title">BŁĄD</span>
            <p id="errormodal_message"></p>
            <div class="button bttnerror">ZAMKNIJ</div>
        </div>
        <div id="successmodal" class="gackomodal hide" hidden>
            <img src="~/images/success.svg" width="64" height="64" />
            <span id="successmodal_title" class="title">SUKCES</span>
            <p id="successmodal_message"></p>
            <div class="button bttnsuccess">ZAMKNIJ</div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BBDProject.Management.WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
