@model BBDProject.Shared.Models.User.UserRegisterForm
@{
    Layout = "_Layout";
}

<div uk-grid class="uk-grid-match">
    <div class="uk-width-1-3 uk-align-center">
        <div class="uk-card uk-card-default uk-card-body">
            @using (Html.BeginForm("Register", "User", FormMethod.Post))
            {
                <div class="uk-margin">
                    <div class="uk-inline input-container">
                        <span>Imię</span>
                        <input class="uk-input" asp-for="FirstName" type="text">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline input-container">
                        <span>Nazwisko</span>
                        <input class="uk-input" asp-for="LastName" type="text">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline input-container">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input" asp-for="Email" type="email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline input-container">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" asp-for="UserName" type="text">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline input-container">
                        <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input" asp-for="Password" type="password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline input-container">
                        <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input" asp-for="ConfirmPassword" type="password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <button class="uk-button uk-button-primary uk-button-small">ZAREJESTRUJ</button>
            }
        </div>
    </div>
</div>