@model BBDProject.Clients.Models.User.ResetPasswordForm
@{
    Layout = "_Layout";
}

<div uk-grid class="uk-grid-match">
    <div class="uk-card uk-card-default uk-card-body uk-align-center uk-width-1-4 uk-child-width-auto">
        <h3 class="uk-card-title uk-text-bolder uk-text-uppercase uk-text-primary">Resetowanie hasła</h3>

        <form asp-controller="User"
              asp-action="ResetPassword"
              method="post">

            <div uk-grid class="uk-child-width-expand">
                <div class="uk-card">
                    <label asp-for="UserNameOrEmail" for="ConfirmPassword">@Html.DisplayNameFor(m => m.UserNameOrEmail)</label>
                    <div class="">
                        <input asp-for="UserNameOrEmail" id="ConfirmPassword" class="uk-input" />
                        <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <input type="submit"
                   class="uk-button uk-button-default uk-align-center"
                   value="Zatwierdź" />
        </form>
    </div>
</div>