@model BBDProject.Clients.Models.User.SetNewPasswordForm
@{
    Layout = "_Layout";
}

<div uk-grid class="uk-grid-match">
    <div class="uk-card uk-card-default uk-card-body uk-align-center uk-width-1-4 uk-child-width-auto">
        <h3 class="uk-card-title uk-text-bolder uk-text-uppercase uk-text-primary">Ustaw nowe hasło</h3>

        <form asp-controller="User"
              asp-action="SetNewPassword"
              method="post">

            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="UserName" />

            <div uk-grid class="uk-child-width-expand">
                <div class="uk-card">
                    <label asp-for="Password" for="Password">@Html.DisplayNameFor(m => m.Password)</label>
                    <div class="">
                        <input asp-for="Password" id="Password" class="uk-input" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div uk-grid class="uk-child-width-expand">
                <div class="uk-card">
                    <label asp-for="ConfirmPassword" for="ConfirmPassword">@Html.DisplayNameFor(m => m.ConfirmPassword)</label>
                    <div class="">
                        <input asp-for="ConfirmPassword" id="ConfirmPassword" class="uk-input" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <input type="submit"
                   class="uk-button uk-button-default uk-align-center"
                   value="Zatwierdź" />
        </form>
    </div>
</div>
