@using BBDProject.Clients.Services
@inject UserContext UserContext
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj @(UserContext.UserName)!</h1>
</div>
