@model BBDProject.Clients.Models.Forum.ForumTopicForm
@{
    Layout = "_Layout";
}

<div class="uk-card uk-card-default uk-card-body uk-overflow-auto">
    <form>
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">Tworzenie wątku</legend>

            <div class="uk-margin uk-text-large">
                <input class="uk-input" type="text" placeholder="Input">
            </div>

            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
            </div>
        </fieldset>
    </form>
</div>